/* .canvas{
    position: absolute !important;
} */

.canvas-container{
    position: absolute !important;
}

video{
    height: 500px;
}

.btnUp:hover{
    color: white;
    background-color: black;
    border-color: white;
}